{{ partial "header.html" . }}
<section>
<h2>{{ i18n "lang_categories" }}</h2>{{$mybase_url := .Site.BaseURL}}
          <p>{{ range $key, $value := .Data.Terms }}<a href="{{$mybase_url}}categories/{{ $key | urlize }}"># {{ $key }} ( {{ len $value }} )</a>{{ end }}</p>
</section>
{{ partial "footer.html" . }}
