<a href="{{ .Permalink }}"><amp-img class="contain" layout="fill" src="{{ $resources := .Resources.ByType "image"}}{{ range $resources }}{{ with . }}{{ $image300x := (.Fit "300x300") }}{{ $image300x.RelPermalink }}{{ end }}{{ end }}" alt="{{ .Params.content_type }}"></amp-img></a>