<footer>
{{ range .Site.Menus.main_footer }} #<a href="{{ .URL | relLangURL }}">{{ .Name }}</a>{{ end }}
<div class="social-share">
<amp-social-share type="email"></amp-social-share>
<amp-social-share type="gplus"></amp-social-share>
<amp-social-share type="linkedin"></amp-social-share>
<amp-social-share type="pinterest" data-param-media="{{ if not .IsPage }}{{ .Site.Params.twitter_image }}{{ else }}{{ .Site.Params.BaseURL2 }}{{ $resources := .Resources.ByType "image"}}{{ range $resources }}{{ with . }}{{ $image600x := (.Resize "600x") }}{{ $image600x.RelPermalink }}{{ end }}{{ end }}{{ end }}"></amp-social-share>
<amp-social-share type="tumblr"></amp-social-share>
<amp-social-share type="twitter"></amp-social-share>
<amp-social-share type="whatsapp"></amp-social-share>
<amp-social-share type="line"></amp-social-share>
</div>
<amp-analytics type="googleanalytics">
<script type="application/json">
{
"vars": {
"account": "UA-111637265-1"
},
"triggers": {
"trackPageview": {
"on": "visible",
"request": "pageview"
}
}
}
</script>
</amp-analytics>
</footer>
</body>
</html>