<!doctype html>
<html ⚡ lang="{{ i18n "lang" }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@wfo_how">
<meta name="twitter:creator" content="@wfo_how">
<meta name="twitter:title" content="{{ if eq  .Title  .Site.Title }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{.}} - {{ end }}{{ .Site.Title }}{{ end }}">
<meta name="twitter:description" content="{{ if not .IsPage }}{{ .Site.Params.base_description }}{{ else }}{{ .Params.description }}{{ end }}">
<meta name="twitter:image" content="{{ if not .IsPage }}{{ .Site.Params.twitter_image }}{{ else }}{{ .Site.Params.BaseURL2 }}{{ $resources := .Resources.ByType "image"}}{{ range $resources }}{{ with . }}{{ $image600x := (.Resize "600x") }}{{ $image600x.RelPermalink }}{{ end }}{{ end }}{{ end }}">
<meta name=description content="{{ if not .IsPage }}{{ .Site.Params.base_description }}{{ else }}{{ .Params.description }}{{ end }}">
{{ partial "json.html" . }}
<title>{{ if eq  .Title  .Site.Title }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{.}} - {{ end }}{{ .Site.Title }}{{ end }}</title>
<link rel="canonical" href="{{ .Permalink }}">
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
<script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
<style amp-custom="amp-custom">{{ partial "css.html" . | print | safeCSS }}</style>
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>    
</head>
<body>
<header>
<nav>
{{ range .Site.Menus.main }} #<a href="{{ .URL | relLangURL }}">{{ .Name }}</a>{{ end }}
#<a class="new" href="{{ .Site.BaseURL }}guideline/">Guideline</a>
</nav>
</header>