<div class="prev">
{{ if .PrevInSection }}
<a class ="menu" href="{{ .PrevInSection.Permalink }}" title="{{ .PrevInSection.Title }}"><amp-img  src="{{ .Site.BaseURL }}images/hidari.png" width="64" height="64"></amp-img></a>
{{ end }}
{{ if .NextInSection }}
<a class ="menu" href="{{ .NextInSection.Permalink }}" title="{{ .NextInSection.Title }}"><amp-img  src="{{ .Site.BaseURL }}images/migi.png" width="64" height="64"></amp-img></a>
{{ end }}
</div>