<section>
<h3>ID: {{ .Title }}</h3>
<p><time>{{ .Params.pub_date }}</time></p>
<p><a href="{{ $.Site.LanguagePrefix }}/contributors/{{ .Params.name | urlize }}">{{ .Params.name }}</a></p>
<p><a href="{{ .Params.website }}" target="_blank">{{ .Params.website }}</a></p>
<div class="flex">
<div class="fixed-container m1">{{ $resources := .Resources.ByType "image"}}{{ range $resources }}{{ with . }}{{ $image300x := (.Fit "300x300") }}
<a href="{{ .RelPermalink }}" target="_blank"><amp-img  class="contain" layout="fill" src="{{ $image300x.RelPermalink }}" alt="{{ .Params.image_alt }}"></amp-img></a>{{ end }}{{ end }}
</div>
</div>
<div class="content">
{{ .Content }}
</div>
<h3>Related Content</h3>
<div class="flex">{{ $page_link := .Permalink }}{{ $tags := .Params.original_tag }}{{ range .Site.Pages }}{{ $page := . }}{{ $has_common_tags := intersect $tags .Params.original_tag | len | lt 0 }}{{ if and $has_common_tags (ne $page_link $page.Permalink) }}
<div class="fixed-container m1">
<a href="{{ $page.Permalink }}"><amp-img class="contain" layout="fill" src="{{ $resources := .Resources.ByType "image"}}{{ range $resources }}{{ with . }}{{ $image300x := (.Fit "300x300") }}{{ $image300x.RelPermalink }}{{ end }}{{ end }}" alt="{{ .Params.content_type }}"></amp-img></a>
</div>{{ end }}{{ end }}
</div>
</section>