{{ partial "header.html" . }}
    <section>
        <h2>{{ .Title }}</h2>
        <div class="flex">
            {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "in" (slice "artwork" "feedback")) 20}}{{ range $paginator.Pages }}
                <div class="fixed-container m1">
                    <a href="{{ .Permalink }}"><amp-img class="contain" layout="fill" src="{{ $resources := .Resources.ByType "image"}}{{ range $resources }}{{ with . }}{{ $image300x := (.Fit "300x300") }}{{ $image300x.RelPermalink }}{{ end }}{{ end }}" alt="{{ .Params.content_type }}"></amp-img></a>
                </div>{{ end }}
        </div>{{ partial "pagination.html" . }}
    </section>{{ partial "footer.html" . }}