{{ partial "header.html" . }}
<section>
{{ $data := .Data }}{{ range $key, $value := .Data.Terms.Alphabetical }}
<p><a href="{{ $.Site.LanguagePrefix }}/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a> [{{ $value.Count }}]</p>
{{ end }}
</section>
{{ partial "footer.html" . }}