{{ partial "header.html" . }}
<section>
<div class="flex">{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "in" (slice "artwork")) 20}}{{ range $paginator.Pages }}
<div class="fixed-container m1">
{{ partial "fit_300x300.html" . }}
</div>{{ end }}
</div>{{ partial "pagination.html" . }}
</section>{{ partial "footer.html" . }}